# Spend Analysis

This is an analysis of our annual spending patterns for 2019.

In [ ]:
import analysis

print('Loading data...')

db = analysis.create_db_connection()
    
analysis.fill_transactions(db, 'data/2019.ods')
analysis.fill_taxonomy(db, 'data/taxonomy.json')

print('Finished loading data.')

## Taxonomy Cross Check

Check to see what spend categorizations have not been inserted into the taxonomy.

In [ ]:
c = db.cursor()

data = c.execute("""
SELECT DISTINCT category
FROM transactions
WHERE category NOT IN (SELECT id FROM full_taxonomy)
""")

bad_categories = []
for r in data:
    bad_categories.append(r[0])

if len(bad_categories) > 0:
    print(bad_categories)
else:
    print('All categories are in the taxonomy.')

## Full Year Spend Categorization

In [ ]:
from pyecharts.charts import Sunburst
from pyecharts import options as opts
from pyecharts.commons.utils import JsCode

c = db.cursor()

query = """
WITH RECURSIVE
    q AS (
        SELECT
            transactions.*,
            full_taxonomy.parent AS parent,
            0 as level
        FROM transactions
        INNER JOIN full_taxonomy
        ON transactions.category = full_taxonomy.id
        UNION
        SELECT
            q.year,
            q.month,
            q.day,
            q.vendor,
            q.credit,
            q.debit,
            q.account,
            q.parent AS category,
            full_taxonomy.parent AS parent,
            q.level + 1 AS level
        FROM q
        INNER JOIN full_taxonomy
        ON q.parent = full_taxonomy.id
    )
SELECT
    t.*, taxonomy.name
FROM
    (SELECT
        q.category,
        q.parent,
        MAX(q.level) as level,
        SUM(q.credit) - SUM(q.debit) AS amount
    FROM q
    GROUP BY q.category, q.parent) AS t
INNER JOIN taxonomy
ON t.category = taxonomy.id
ORDER BY t.level DESC, t.amount DESC
"""

data = c.execute(query)

data_set = []
v = {}
for r in data:    
    item = opts.SunburstItem(
        name=r[4],
        value=r[3],
        children=[]
    )
    
    if r[1] in v:
        v[r[1]].opts["children"].append(item)
        
    v[r[0]] = item
    
    if r[1] is None:
        data_set.append(item)

c = (
        Sunburst()
        .add(series_name="", data_pair=data_set, radius=[0, "90%"])
        .set_global_opts(
            title_opts=opts.TitleOpts(title="2019 Categorized Spend"),
            tooltip_opts=opts.TooltipOpts(formatter=JsCode("""function(param) {
                return `${param.name} $${param.value.toFixed(2)}`
            }
            """))
        )
        .set_series_opts(label_opts=opts.LabelOpts(formatter='{b}'))
    )
c.render_notebook()

In [ ]:
from pyecharts.charts import Pie
from pyecharts import options
from pyecharts.commons.utils import JsCode

c = db.cursor()

query = """
SELECT taxonomy.name, t.amount
FROM
    (SELECT 
        transactions.category,
        SUM(credit) - SUM(DEBIT) AS amount
    FROM transactions
    INNER JOIN taxonomy 
    ON transactions.category = taxonomy.id
    GROUP BY transactions.category) AS t
INNER JOIN taxonomy
ON taxonomy.id = t.category
ORDER BY t.amount DESC
"""

data = c.execute(query)

v = []
for r in data:
    v.append(r)

p = (
    Pie()
    .add(
        "",
        v,
        radius=["40%", "75%"],
    )
    .set_global_opts(
        title_opts=options.TitleOpts(title="2019 Full Year Spend"),
        legend_opts=options.LegendOpts(
            is_show=False
        ),
        tooltip_opts=opts.TooltipOpts(formatter=JsCode("""function(param) {
            return `${param.name} $${param.value.toFixed(2)}`
        }"""))
    )
    .set_series_opts(label_opts=options.LabelOpts(formatter=JsCode("""function(param) {
        return `${param.name} $${param.value.toFixed(2)} (${param.percent}%)`
    }
    """)))
)

p.render_notebook()

## Month by Month Spend Breakdown

In [ ]:
from IPython.display import HTML
import calendar

c = db.cursor()

query = """
SELECT
    t.month,
    taxonomy.name,
    t.amount
FROM
    (SELECT 
        month,
        category,
        SUM(credit) - SUM(DEBIT) AS amount
    FROM transactions
    INNER JOIN taxonomy
    ON transactions.category = taxonomy.id
    GROUP BY category, month) AS t
INNER JOIN taxonomy
ON t.category = taxonomy.id
ORDER BY month, amount DESC
"""

data = c.execute(query)

v = {}
for r in data:
    if r[1] not in v:
       v[r[1]] = {} 
    v[r[1]][r[0]] = r[2]

html = "<table><thead><tr><td></td>"
for month in range(1,13):
    html += "<td>" + calendar.month_name[month] + "</td>"
html += "</tr></thead><tbody>"
for key, value in v.items():
    html += "<tr><td>" + key + "</td>"
    for month in range(1,13):
        html += "<td>"
        if month in value:
            html += '${:.2f}'.format(value[month])
        else:
            html += '--'
        html += "</td>"
    html += "</tr>"
    
html += "</tbody>"

query = """
SELECT 
    month,
    SUM(credit) - SUM(DEBIT) AS amount
FROM transactions
INNER JOIN taxonomy
ON transactions.category = taxonomy.id
GROUP BY month
ORDER BY month DESC
"""

data = c.execute(query)

html += "<tfoot><tr><td></td>"
for row in data:
    html += "<td>${:.2f}</td>".format(row[1])

html += "</tr></tfoot>"

html += "</tbody></table>"

h = HTML(html)
display(h)